.row .remove-hyperlink {
  cursor: default;
  text-decoration: none;
  color: black;
}

.row .card {
  background-color: white;
  padding: 1.2rem;
  border-radius: 2rem;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(132, 139, 200, 0.18);
  margin-top: 2rem;
  transition: all 300ms ease;
}

.row .card:hover {
  box-shadow: none;
  background-color: #0099ff4d;
  cursor: pointer;
}

.row #middle #icon {
  display: inline-block;
  width: 45px;
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
}

.row #middle .active .goalIcon {
  background-color: #7380ec;
}

.row #middle .accomplished .goalIcon {
  background-color: #41f1b6;
}

.row #middle .failed .goalIcon {
  background-color: #ff7782;
}

.row .card .deadline span {
  background-color: #f9e90f;
  border-radius: 50%;
  color: black;
  width: auto;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.row .card .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .card .percentage {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

.row .card svg {
  width: 7em;
  height: 7em;
}

.row .card svg circle {
  fill: none;
  stroke: #7380ec;
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 226;
  stroke-dashoffset: calc(226 * 0.5);
  align-items: center;
  justify-content: center;
}

.row .active .card svg circle {
  stroke: #7380ec;
}

.row .accomplished .card svg circle {
  stroke: #41f1b6;
}

.row .failed .card svg circle {
  stroke: #ff7782;
}

/*  stroke-dasharray="{{circle.circumference}}" 
    stroke-dashoffset="{{circle.circumference * (1 - circle.percentage/100)}} */

.row .card .percentage .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row .card .deadline > div {
  display: inline-block;
  justify-content: center;
  margin-left: 0.8em;
}

.row .addGoal .card {
  background: transparent;
  border: 2px dashed;
  color: #7380ec;
  align-items: center;
  justify-content: center;
}

.row .addGoal .card:hover {
  background-color: #ebedf9;
}

.row .addGoal .card span {
  display: inline-block;
  background: transparent;
  color: #7380ec;
  font-size: 3rem;
}

.row .leftColumn {
  margin-top: 2.5rem;
}

.row .leftColumn h6 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.row .leftColumn div {
  margin-bottom: 12px;
  justify-content: space-between;
}

.row .leftColumn:hover {
  box-shadow: none;
  cursor: pointer;
}

.row .leftColumn > div span {
  font-size: 1.2rem;
  width: auto;
  border-radius: 50%;
  padding: 0.5rem;
  display: inline-block;
  color: white;
}

.row .leftColumn .folder .activeGoal span {
  background-color: #7380ec;
}

.row .leftColumn .folder .accomplishedGoal span {
  background-color: #41f1b6;
}

.row .leftColumn .folder .failedGoal span {
  background-color: #ff7782;
}

.row .leftColumn .naming {
  margin-left: 0.8em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.row .leftColumn .goalCount {
  display: inline-flex;
  float: right;
  width: 20px;
  background-color: #f9c20f;
  padding: 1.5px 6px;
  border-radius: 0.6rem;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

.row .leftColumn h6 {
  padding: 1rem;
  padding-left: none;
}

/* Folder Function */
.filterDiv {
  display: none; /* Hidden by default */
}

/* Display the elements based on folder or category */
.show {
  display: block;
}

/* Style the buttons */
.leftColumn .btn {
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 9px 13px;
  background-color: #f1f1f1;
  cursor: pointer;
  display: block;
  width: fit-content;
}

/* Add a light grey background on mouse-over */
.leftColumn .btn:hover {
  background-color: #ddd;
}

.leftColumn .btn:active {
  background-color: rgb(188, 188, 188);
  box-shadow: 0 8px #666;
  transform: translateY(2px);
}

/* Add a dark background to the current active button */
.leftColumn .btn.current {
  background-color: #0099ff4d;
  color: white;
}

/* Add New Goal Page - goal-add.html */

/* SMART Goal Display */
.smart .card {
  align-items: center;
}

.smartGoal .card {
  background-color: #7380ec;
  color: white;
  font-size: 1.2rem;
  font-weight: Bold;
  margin-right: 0;
  box-shadow: 0 7px 25px rgba(132, 139, 200, 0.18);
  align-items: center;
  justify-content: center;
}

.question .card {
  background-color: #f9e90f;
  box-shadow: 0 7px 25px rgba(132, 139, 200, 0.18);
  margin-left: 0;
}

.smartGoal .card:hover {
  background-color: #7380ec;
}

.question .card:hover {
  background-color: #f9e90f;
}

/* Form to add new goal */
.addNewGoal {
  background-color: white;
  padding: 1.2rem;
  border-radius: 2rem;
  box-shadow: 0 7px 25px rgba(132, 139, 200, 0.18);
  margin-top: 2rem;
  justify-content: space-between;
  transition: all 300ms ease;
}

.addNewGoal:hover {
  box-shadow: none;
  cursor: pointer;
}

.addNewGoal .heading {
  font-weight: bold;
  font-size: 2.5rem;
  background-color: #7380ec;
  border-radius: 0.6rem;
  width: 100%;
  margin-bottom: 2rem;
  color: white;
  text-align: center;
  padding: 1rem;
}

.addNewGoal form {
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

/* Goal Details Page - goal-detail.html */
.row .goalDetail .card:hover {
  background-color: white;
  cursor: default;
}

.row .goalDetail .card-body .middle {
  gap: 3rem;
}

.row .goalDetail .card-body a {
  background-color: #7380ec;
  padding: 0.8rem;
  border-radius: 0.6rem;
}

.theme-yellow {
  background-color: #f9e90f;
}

.no-pressed {
  background-color: gray;
}

.date-pressed {
  background-color: #f9e90f;
}
.progress-pressed {
  background-color: #f9e90f;
}
