.right-tab-header {
  height: 8vh;
  width: 20vw;
  background-color: #ccd7df4d;
  padding-left: 0.7em;
  padding-right: 0.7em;
  right: 0;
  z-index: 1;
}
.right-tab-open {
  height: 100vh;
  width: 18vw;
  background-color: #ccd7df4d;
  margin-top: 12vh;
  padding-left: 0.7em;
  padding-right: 0.7em;
  white-space: normal;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  right: 0;
  z-index: 1;
}
.right-tab-close {
  padding: 0;
  height: 100%;
  width: 0px;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

#i-size {
  width: auto;
  height: auto;
  object-fit: contain;
}
.right-duration {
  font-size: 15px;
}
.right-description {
  font-size: 13px;
}
#right-tab-arrow {
  border-radius: 45%;
  padding: 10% 20%;
}
#singleCard:hover {
  box-shadow: 0 0 15px #b7bcc1;
}
.activity:hover {
  background-color: #9aaebb4d;
}
#right-tab-arrow:hover {
  background-color: #9aaebb4d;
  cursor: pointer;
}

.colour {
  background-color: black;
  color: black;
}

.colour2 {
  background-color: red;
  color: red;
}

.card-img-top {
  border-radius: 2rem;
}

@media screen and (max-width: 750px) {
  #recent-activity {
    display: none;
  }

  #content {
    /* margin: 0 !important; */
  }
}
