/* cards */
* {
  box-sizing: border-box;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: snow;
  padding: 15px;
  margin: 0px;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: #060653bf;
}
.cardBox .card .cardName {
  position: relative;
  margin-top: 5px;
  font-size: 1.1em;
  color: black;
}
.cardBox .card .iconBx {
  flex-direction: row;
  font-size: 2em;
  color: grey;
}
.cardBox .card:hover {
  background-color: #0099ff4d;
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: white;
}

/* charts */
.graphBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 30px;
}
.graphBox .box {
  position: relative;
  background: #ffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

#details {
  float: right;
}

.button {
  background-color: #6fc0f1;
  border-radius: 15px;
  box-shadow: 0 2px 1px #376392;
  color: white;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

/* details page */
.goalBox {
  position: relative;
  width: 100%;
  margin-top: 0px;
  padding: 40px;
  display: grid;
  grid-gap: 30px;
}

.goalBox .btn{
  border: none;
  border-radius: 30px;
  padding: 9px 13px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.goalBox .btn:hover {
  background-color: rgb(194, 222, 246);
}

.goalBox .btn:active {
  background-color: rgb(194, 222, 246);
  box-shadow: 0 8px rgb(215, 234, 255);
  transform: translateY(1px);
}

.goalBox .btn:focus {
  background-color: rgb(194, 222, 246);
}

.goalBox .box {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.goalBox .box .goal {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: black;
}
.goalBox .box .goalName {
  position: relative;
  margin-top: 30px;
  font-size: 1.1em;
  color: black;
}
.goalBox .box .goalName .progress {
  border-radius: 20px;
  position: relative;
  float: right;
  height: 20px;
  width: 400px;
}

/* Display the elements based on folder or category */
.show {
  display: block;
}

@media screen and (max-width: 750px) {
  .cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .graphBox .box {
    width: 100%;
  }
  
  .goalBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .goalBox .box {
    width: 100%;
  }

  .goalBox .box .goalName .progress {
    border-radius: 20px;
    position: relative;
    float: bottom;
    height: 20px;
    width: 100%;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
