html,
body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

#wavy-img {
  position: fixed;
  bottom: 0px;
  z-index: -9999;
  width: 100vw;
}

#welcome-msg {
  font-family: "Comforter Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
}

#title {
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}

a {
  text-decoration: none;
  color: black;
}

#submit-btn {
  background-color: #f9e90f;
  border-color: #f9e90f;
  color: black;
  font-size: 1.2rem;
}

#shared-goal {
  max-height: 40rem !important;
  min-height: 10rem;
  width: auto;
}
