.blockquote {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  line-height: 2em;
  min-height: 150px;
}

#reminder .accordion-button:focus {
  box-shadow: none;
}

.reminder.editing .list-group-item a {
  pointer-events: none;
}

.delete-btn {
  display: none;
}

.bi-x-circle-fill {
  font-size: large;
  color: red;
}

.reminder.editing .delete-btn {
  display: block;
}

.reminder.editing .edit-btn {
  background-color: grey;
  color: white;
}

.list-group-item a {
  text-decoration: none;
  color: #212529;
}

.card {
  border-radius: 1rem;
  height: 100%;
}

.goal {
  width: 60%;
  flex-grow: 1;
}

.pin-goal {
  background-color: transparent;
  border: 2px dashed;
  color: #7380ec;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pin-goal:hover {
  background-color: #ebedf9;
  color: #7380ec;
}

.pin-goal p {
  background-color: transparent;
  color: #7380ec;
}

.post-btn {
  background-color: #7380ec;
}

.post-btn:hover {
  background-color: #626ccb;
}

.refresh-btn,
.edit-btn,
.delete-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.refresh-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  background-color: #e9ecef;
}

.refresh-btn:active,
.edit-btn:active,
.delete-btn:active {
  background-color: #dce0e3;
}

.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 5px;
}

.middle-circle {
  position: absolute;
  border-radius: 50%;
  height: 75%;
  width: 75%;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}

#calendar a {
  text-decoration: none;
  color: black;
}

.right-border {
  border-right: 1px solid #dee2e6;
}

@media (max-width: 650px) {
  .card-body {
    flex-direction: column;
  }

  .goal {
    width: 100%;
  }

  .card-title {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .right-border {
    border-right: none;
  }
}
