.wrapper {
  height: 100vh;
}

.content-wrapper {
  height: 100%;
  margin-left: 250px !important;
  transition: margin-left 0.3s ease-in-out;
}

.content-wrapper.min {
  margin-left: 100px !important;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: snow;
}
