.content {
  margin-left: 250px !important;
  transition: margin-left 0.3s ease-in-out;
}

.content.min {
  margin-left: 100px !important;
}

#title {
  font-family: "Roboto Mono", monospace;
  color: black;
}
