.wrapper {
  display: flex;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
}

#title {
  font-family: "Roboto Mono", monospace;
  color: black;
}
