html,
body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

#title {
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}

#wavy-img {
  position: fixed;
  bottom: 0px;
  z-index: -9999;
  width: 100vw;
}

#shared-goal {
  max-height: 40rem !important;
  min-height: 10rem;
  width: auto;
}

a {
  text-decoration: none;
  color: black;
}

input {
  min-width: 200px;
  min-height: auto;
}
