#title {
  font-family: "Roboto Mono", monospace;
  color: black;
}

.leftSection {
  justify-content: space-between;
}

.recognition {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-weight: 400;
  margin-top: 2rem;
}

.recogRow {
  padding: 0.5rem;
}

.leftSection .recognition .title {
  margin-left: 0.5em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: #7380ec;
  border-radius: 0.7rem;
  padding: 2px 8.5px;
  color: #fff;
}

.recognition .recogRow .content {
  display: inline-flex;
  padding: 2px 8.5px;
  align-items: flex-end;
  border-radius: 0.7rem;
  font-size: 1rem;
  text-align: right;
  background-color: #f9e90f;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 7px 25px rgba(132, 139, 200, 0.18);
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.vl {
  border-left: 2px solid gainsboro;
  height: 80px;
}

.popup {
  width: 80%;
  padding: 20px;
  left: 0;
  margin-left: 5%;
  border: 1px solid rgb(54, 57, 63);
  border-radius: 20px;
  color: rgb(54, 57, 63);
  background: snow;
  position: absolute;
  top: 30%;
  box-shadow: 5px 5px 5px rgb(54, 57, 63);
  z-index: 10001;
  font-weight: 700;
  text-align: center;
  font-family: "Sofia", sans-serif;
}

.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10000;
  display: none;
}

@media (min-width: 768px) {
  .popup {
    width: 66.66666666%;
    margin-left: 16.666666%;
  }
}

@media (min-width: 992px) {
  .popup {
    width: 80%;
    margin-left: 25%;
  }
}

@media (min-width: 1200px) {
  .popup {
    width: 33.33333%;
    margin-left: 33.33333%;
  }
}

.dialog-btn {
  background-color: #708090;
  color: white;
  font-weight: 700;
  border: 1px solid #708090;
  border-radius: 10px;
  height: 30px;
  width: 30%;
  font-family: "Sofia", sans-serif;
}

.dialog-btn:hover {
  background-color: #4682b4;
  cursor: pointer;
}

.delete-btn {
  box-shadow: none;
  background-color: #f9e90f;
  color: white;
  border: #f9e90f;
}

.bi-x-circle-fill {
  font-size: medium;
  color: red;
}

.passwordRow {
  display: flex;
}

#showPassword {
  padding: 0;
  border: none;
  background-color: transparent !important;
  float: inline-end;
}

.passwordRow {
  width: 100%;
  display: flex;
  position: relative;
}

.input-group-text {
  padding: 10px;
  min-width: 40px;
  position: relative;
  right: 10px;
}

.input-group-text i{
  position: absolute;
  background-color: transparent !important;
  border: none;
}