
/* cards */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: #060653bf;
}
.cardBox .card .cardName {
  position: relative;
  margin-top: 5px;
  font-size: 1.1em;
  color: black;
}
.cardBox .card .iconBx {
  flex-direction: row;
  font-size: 3.5em;
  color: black;
}
.cardBox .card:hover {
  background-color: #0099ff4d;
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: white;
}

/* charts */
.graphBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
}
.graphBox .box {
  position: relative;
  background: #ffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
